[Desktop Entry]
Type=Application
Name=Package Updater
Comment=Package update notifier applet for the COSMIC™ desktop
Icon=software-update-available
Exec=cosmic-ext-applet-package-updater
Terminal=false
Categories=Cosmic;Utility;
Keywords=Cosmic;Iced;applet;updates;package;
NoDisplay=true
StartupNotify=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto